html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, "Noto Sans", sans-serif;
}
:root{
    --main-bg-colour: #425d80;
}
nav{
    background-color: var(--main-bg-colour)!important;
}
body {
    padding-top: 5rem;
    background-color: hsl(0, 0%, 96%);
}

#uptop{
    width: 24px;
    height: auto;
}

#redCar{
    width: 450px;
    height: 550px;
}
#loginhead{
    text-align: center;
}
#registerhead,#carhead{
    text-align: left;
    font-weight: bold;
}
#temp{
    background-color: #ffffff;
    padding: 10px 100px 20px 30px;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;

}

#registerForm,#uploadForm{
    background-color: #ffffff;
    padding: 10px 100px 20px 30px;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#loginForm{
    width: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin: 40px;
    padding: 40px;
}
#homeBtnsDiv {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-column-gap: 2%;
    height: fit-content;
}
#centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon {
    height: 25px;
    width: auto;
    /* padding-top: 6px; */
}

#navRight{
    padding-left: 960px;
}