body {
    padding-top: 5rem;
}

#img-list {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#img-list-item {
    max-width: 500px;
    max-height: 500px;
}