{% extends "base.html" %}

{% block main %}

<div>
    <h1>Add New Car</h1>
</div>
<div class = "color col-lg-9">
    {% include 'flash_messages.html' %}
    <form action="{{ url_for('cars') }}" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class = "form-row col-md-10">
            <div class = 'col'>
                <div class="form-group">
                    {{ form.make.label }}
                    {{ form.make(class="form-control" ,placeholder ="Tesla") }}
                </div>
                <div class="form-group">
                    {{ form.colour.label }}
                    {{ form.colour(class="form-control", placeholder = "Red") }}
                </div>
                <div class="form-group">
                    {{ form.price.label }}
                    {{ form.price(class="form-control", placeholder ="62888") }}
                </div>
                <div class="form-group">
                    {{ form.transmission.label }}
                    {{ form.transmission(class="form-control") }}
                </div>
            </div>  
            <div class = 'col-sm-5'>
                <div class = 'col'>
                    <div class="form-group">
                        {{ form.model.label }}
                        {{ form.model(class="form-control", placeholder = "Model S") }}
                    </div>
                    <div class="form-group">
                        {{ form.year.label }}
                        {{ form.year(class="form-control", placeholder = "2018") }}
                    </div>
                    <div class="form-group">
                        {{ form.car_type.label }}
                        {{ form.car_type(class="form-control") }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group col-md-10">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group col-md-10">
            {{ form.photo.label }}
            {{ form.photo(class="form-control") }}
        </div>
        <div>
            <button type="submit" name="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>

{% endblock %}